<p id="notice"><%= notice %></p>

<h1>Groups</h1>

<table class="table text-center">
  <thead>
    <tr>
      <th>Name</th>
      <th>Member</th>
      <th>Debut date</th>
      <th>Gender</th>
      <th>Concerts</th>
      <th>Participants</th>
      <th>Date Concert</th>
      <th>ID Concert</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.member %></td>
        <td><%= group.debut_date %></td>
        <td><%= group.gender %></td>
        <td><%= group.concert_count%></td>
        <td>
          <ul style="list-style-type:none"><% group.concerts.each do |concert|%>  
              <li><%=concert.participant %> </li>
              <%end%>
          </ul> 
        </td>
        <td>
          <ul style="list-style-type:none"><% group.concerts.each do |concert|%>  
              <li><%=concert.date_concert %> </li>
              <%end%>
          </ul>
        </td>
    
        <td>
          <ul style="list-style-type:none"><% group.concerts.each do |concert|%>  
              <li><%=concert.id %> </li>
              <%end%>
          </ul>
        </td>

        <td><%= link_to 'Show', group %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_group_path %> | <%= link_to 'Go to concerts', concerts_path %>
