<p id="notice"><%= notice %></p>

<table class="table text-center">
  <thead>
    <tr>
      <th>Current Month Concert</th>
      <th>Last Concert</th>
      <th>Max participants per concert</th>
      <th>Longest concert</th>
    </tr>  
  </thead>

  <tbody>
    <tr>
      <td>
          <% mes = Time.now.month %>
          <% x= 0 %>
          <% @group.concerts.each do |concert|%>
              <%if concert.date_concert.month == mes %>
                <% x+= 1%>
              <%end%>
          <%end%>
          <%= x %>
      </td>
      <td>
        <% last_date = Date.new(0000-00-00) %>
        <% @group.concerts.each do |concert| %>
          <% if concert.date_concert > last_date %>
            <% last_date = concert.date_concert %>
          <% end %>
        <% end %>
        <%= last_date.strftime("%Y %B %A") %>
      </td>
      <td>
        <% max_participants = 0 %>
        <% @group.concerts.each do |concert| %>
          <% if concert.participant > max_participants %>
            <% max_participants = concert.participant %>
          <% end %>
        <% end %>
        <%= max_participants %>
      </td>
      <td>
        <% longest_concert = 0 %>
        <% @group.concerts.each do |concert| %>
          <% if concert.duration > longest_concert %>
            <% longest_concert = concert.duration %>
          <% end %>
        <% end %>
        <%= "#{longest_concert} hrs"%>
      </td>
    </tr>
  </tbody>
</table>

<%= link_to 'Back', groups_path %>

